*{
    margin: 20px;;
    padding: 0px;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(24, 49, 131);
    text-align: center;
}
body{
    padding:min(50px,7%);
    background-color: rgb(15, 15, 22);
}
h1{
    margin:30px 0;
}
.card{
    padding:14em;
    
    
    background-color: rgba(168, 228, 236, 0.5);
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("imgs/water1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300;
    height: 100%;
    font-family: "Times New Roman", serif;
}


.about-me-container {
    min-height: 50vh;
    font-size: 2em;
}
.about-me {
    
    margin: 25vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    
    min-width: 300px;
    background-color: rgba(210, 210, 210, 0.5);
    @media screen and (max-width: 800px){
        .left, .main, .right{
            width:100%;
        }
    }
}
@media (max-width: 800px) {
    .about-me-container {
        font-size: 1.5em;
    }
}
.main-content {
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    overflow: auto;
    background-color: white;
    padding: 48px; 
    margin: 80px auto; 
    border: 5px double #493939;
    text-align: center;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
}
 
/* The hero image */



/* Place text in the middle of the image */
