@media (max-width: 768px) {

    .title-container {
        display: none;
    }

    .main-content img {
        max-width: 100%;
        height: auto; 
    }
@media (max-width: 480px) {
    
    /*controls paragraph cutoff in mobile*/
    p {
        font-size: 0.6em;
        line-height: 1.6; 
        word-wrap: break-word; 
    }
    h1 {
        font-size: 0.6em;
        word-wrap: break-word; 
    }
    .main-content {
        padding: 6px; 
        justify-content: center; 
        margin: 1px auto; 
        border: white; 
        max-width: 100%; 
        width: 100%; 
        display:block;
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-start; 
        min-height: 100vh;
    }
}
.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", serif;
    font-weight: 400;
    font-style: normal;
}
  .courier-prime-regular {
  font-family: "Courier Prime", serif;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", serif;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", serif;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", serif;
  font-weight: 700;
  font-style: italic;
}
/*--------------------------------*/



}
html{
    color: rgb(255, 255, 255);
    text-align: center;
}



.card{
    border-radius: 15px;
    padding:2em;
    min-height: 400px;
    background-color: rgba(25, 51, 85, 0.45);
    text-align: center;
}


body {
    padding: 0;
    margin: 0;
    background-image: url("imgs/water1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300;
    height: 100%;
}
.hero-image {
    background-image: url("imgs/Jeff.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.nav{
    .button {
        border-radius: 20px;
        background-color: #1b7691; 
        border: none;
        color: white;
        padding: 10px 20px;
        position: relative;/*for stacking*/
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 150px;
        height: 45px;
        }
    }
.container{
    img {
        width: 95%;
    }
    p {
        font-family: "Courier Prime", serif; 
        }
    
    h1 {
        font-size: 2.5rem;
        font-family: "Rubik Bubbles", serif;
        text-align: center;
        color: #ECFFDC;
  
    /* Text Shadow Property */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(6, 40, 65,0.75);
        
    }
      
    /* Place text in the middle of the image */
    border-radius: 10px;
    min-height: 50vh;
    font-size: 2em;
    margin: 0vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    
    min-width: 300px;
    background-color: rgba(4, 15, 46, 0.10);

}