img {
    width: 50%;
    height: 80%;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 300px; 
    display: block; 
    margin: 10px auto;

}

@media (min-width: 768px) {
    img {
        max-width: 400px; 
    }
}

@media (min-width: 1024px) {
    img {
        max-width: 500px; 
    }
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
}

button:hover {
    background-color: #0056b3;
}

.container {
    background: white;
    padding: 20px;
    margin: 10px auto;
    max-width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}



p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

strong {
    color: #222;
}





p {
    display: none;
}

p.show {
    display: block;
}